.scroll-indicator {
  height: 5px;
  position: fixed;
  width: calc(100% - 6em);
  top: 10px;
  left: 3em;
  border-radius: 3px;

  .progress {
    height: 100%;
    width: 0;
    border-radius: 3px;
    background: linear-gradient(30deg, #ff00ff 0%, #00ffff 100%);
    transition: width 0.1s;
  }
}
